{{#extends "base"}}

{{#block "content"}}


<table class="table">
    <div class="search-container">
    <form action="/products" method="GET" class="form-inline">
        <div class="form-group">
            <label for="search">Search:</label>
            <input type="text" id="search" name="name" class="form-control" placeholder="Enter search query">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Description</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.description}}</td>
            <td>{{this.category.name}}</td>
            <td>
                <a href="/products/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}
